body{
background-color: #d6d6c2;
margin:0;
}

nav{
	background-color: #000000;
	padding: 2px 5px;
	margin:0;
	text-align: center;
}
nav li{
	display: inline;
	text-decoration: none;
}
a.nav{
	font-size: 1.1em;
	text-decoration: none;
	color: white;
	padding: 0px 15px;
}
a.nav:hover{
	color: #ffd633;
}

h1{
	text-align: center;
}

section{
	text-align: center;
	margin: 0 auto;
	overflow: auto;
	max-width: 800px;
	font-size: 1.04em;
	line-height: 25px;
	padding: 10px 5px;
}

img{
	float: left;
}
footer{
	text-align: center;
	clear: both;
	margin: 0 auto;
	background: #000000;
	color: white;
	width: 100%;
	padding: 10px 0;
	bottom: 0;
}

button{
	font-size: 1.04em;
	background-color: #ffad33;
	border: none;
	text-transform: uppercase;
	padding: 15px 28px;
	color: white;
}

footer button{
	background-color: #ff9900;
}

button:hover{
	opacity: 0.8;
}