body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

#nav-bar{
	background-color: #eeeeee;
	line-height: 30px;
	width: 200px;
	height: 100%;
	float: left;
	position: fixed;
	overflow: auto;
}
#nav-bar a{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	margin: 0px;
}

#nav-bar a:hover{
	color: white;
	background: black;
}

#section{
	padding: 10px;
	width: 80%;
	float: right;
}

#footer{
	clear:both;
	color: white;
	background-color: black;
	text-align: center;
	padding: 5px;
}

a{
	text-decoration: none;
	color: #33ccff;
}

a:hover{
	color: #004466;
}

table. th. td{
	padding: 5px 10px;
	text-align: center;
	border: 5px solid black;
	position: center;
}